.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    background: rgba(32,33,36,255);
    }

    .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    margin-top: 10px;
    }
    
    .topright_element
    {
      margin-left: 5px;
      margin-right: 5px;
    }

    body,
    html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(23,23,23,255);
    
    }

    .flex {
        display: flex;
        margin-right: 1150px;
        margin-bottom: 700px;
      }
      
      #form {
        height: 100px;
        width: 35vw;
        flex-direction: column;
        align-items: flex-end;
        
      }

      .field {
        margin-right: 50px;
        margin-top: 10px;
        display: flex;
        
      }

      .field label
      {
         min-width: 150px;
         color:white;
         padding: 5px 0;
      }

      .field input {
        display: flex;
        margin-left: 20px;
        background-color: rgba(32,33,36,255);
        border-color: rgba(95,99,104,255);
        border-style: solid;
        outline: none;
        border-width: 1px;
        width: 585px;
        height: 25px;
     }

     .field input:focus 
      {
         border-color: rgba(138,180,248,255);
      }

     .button_adv 
     {
        margin-top: 25px;
        margin-right: 50px;
     }

     .button_adv input
     {
      color:rgba(32,33,36,255);
      outline: none;
      border-color: rgba(138,180,248,255);
      border-style: solid;
      background-color: rgba(138,180,248,255);
      width: 190px;
      height: 29px;
      font-weight: bold;
     }

     .button_adv input:hover
     {
      background-color: rgba(174,203,250,255);
      border-color: rgba(47,91,183,255);
     }
     .button_adv input:active
     {
      box-shadow:inset 0px 0px 1.5px;
     }

     .search_bar
     {
        border-radius: 25px;
        width: 563px;
        height: 41px;
        background-color: rgba(32,33,36,255);
        border: solid;
        border-color: rgba(95,99,104,255);
        border-width: 1px;
        margin-top: 25px;
        color: white;
        font-size: 15px;
        padding-left: 15px;
     }
     .search_bar:hover, .search_bar:focus
     {
        background-color: rgba(48,49,52,255);
        border-color: rgba(48,49,52,255);
        box-shadow: 0px 0px 3px;
        outline: none;
     }

     .button
     {
        background-color: rgba(48,49,52,255);
        color: white;
        border: none;
        width: 130px;
        height: 36px;
        border-radius: 4px;
        margin-top: 32px;
        margin-left: 5px;
        margin-right: 5px;
     }

     .button:hover
     {
      border:solid;
      border-color: rgba(95,99,104,255);
      border-width: 1px;
     }

     .buttons
     {
        text-align: center;
     }

     a
     {
      color: white;
      text-decoration: none;
     }
     
     a:hover
     {
      text-decoration: underline;
     }